@import url('https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html, body {
  height: 100%;
}

.fundo {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(170deg, #f4eafa, #f4eafa, #861ddb);
  background-size: cover;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.logo {
    object-fit: contain;
    width: 100%;
    cursor: pointer;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
}

.menu {
    display: flex;
    gap: 32px;
    font-family: "Prompt", sans-serif;
    color: #1a1a1a;

}

.conteudo {
    margin-bottom: 48px;
    padding: auto;
    ;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: "Prompt", sans-serif;
    color: #1a1a1a;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.conteudo-principal-titulo {
    font-family: "Prompt", sans-serif;
}

.conteudo-principal-subtitulo {
    font-family: "National Park", sans-serif;
    font-weight: 200;
}

.botao {
    background-color: #861ddb;
    width: 180px;
    height: 70px;
    border: none;
    border-radius: 10px;
    font-family: "Prompt", sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #f4eafa;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    margin-top: 30px;
}

.conteudo-secundario {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo-secundario-titulo {
    font-family: "Prompt", sans-serif;
    font-size: 30px;
    color: #1a1a1a;
}
.conteudo-secundario-texto {
    font-family: "National Park", sans-serif;
    font-weight: 300;
    color: #1a1a1a;
}

.rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
  font-family: "Prompt", sans-serif;
  color: #1a1a1a;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  width: 100%;
}


/* IMPORTAR FONTES DE GOOGLE
.prompt-thin {
  font-family: "Prompt", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.prompt-extralight {
  font-family: "Prompt", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.prompt-light {
  font-family: "Prompt", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.prompt-regular {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.prompt-medium {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.prompt-semibold {
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.prompt-bold {
  font-family: "Prompt", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.prompt-extrabold {
  font-family: "Prompt", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.prompt-black {
  font-family: "Prompt", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.prompt-thin-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.prompt-extralight-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.prompt-light-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.prompt-regular-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.prompt-medium-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.prompt-semibold-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.prompt-bold-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.prompt-extrabold-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.prompt-black-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 900;
  font-style: italic;
}
*/